global
        log /dev/log   local0
        log /dev/log   local1 notice
    {% if haproxy_socket != '' %}
        stats socket {{ haproxy_socket }} level admin
    {% endif %}
    {% if haproxy_chroot != '' %}
        chroot {{ haproxy_chroot }}
    {% endif %}
        user {{ haproxy_user }}
        group {{ haproxy_group }}
        daemon
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
    {% if haproxy_version == '1.4' %}
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
    {% else %}
        timeout connect 5000
        timeout client 50000
        timeout server 50000
    {% endif %}
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http
        

frontend {{ haproxy_frontend_name }}
        bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
        mode {{ haproxy_frontend_mode }}
        default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
        mode {{ haproxy_backend_mode }}
        balance {{ haproxy_backend_balance_method }}
        option forwardfor
    {% if haproxy_backend_httpchk != '' %}
        option httpchk {{ haproxy_backend_httpchk }}
    {% endif %}
        server web1 10.0.2.21:80 check
        server web1 10.0.2.67:80 check